hr {
	border-width: 3px;
    border-style: solid;
}
header {
	padding-bottom: 30px;
	padding-top: 30px
}
h1 {
	margin: auto;
	text-align: center;
}
nav {
	margin: auto;
	text-align: center;
}
* {
	font-family: arial, sans-serif;
}
#main {
	width: 80%;
	overflow: auto;
	margin: auto;
	border-top: 1px solid black;
	padding-top: 30px;
}
#overview {
	float: left;
	width: 65%;
}
#headshot {
	width: 25%;
	float: right;
	margin-left: 30px;
	border: 1px solid black;
	border-radius: 2px;
	padding: 5px;
}
#social {
	border-top: 1px solid black;
	padding-top: 20px;
}